<app-barra-filtros>
  <div filtros class="flex flex-col gap-1">
    <label>Desde</label>
    <p-datepicker [ngModel]="desde()" (ngModelChange)="desde.set($event)" dateFormat="dd/mm/yy" />
  </div>
  <div filtros class="flex flex-col gap-1">
    <label>Hasta</label>
    <p-datepicker [ngModel]="hasta()" (ngModelChange)="hasta.set($event)" dateFormat="dd/mm/yy" />
  </div>
  <div filtros class="flex flex-col gap-1">
    <label>Cuenta</label>
    <p-autoComplete [ngModel]="cuenta()" (completeMethod)="buscarCuentas($event)"
                    (onSelect)="cuenta.set($event.value)" (onClear)="limpiarCuenta()"
                    [suggestions]="cuentasSugeridas()" optionLabel="nombre"
                    placeholder="Todas" [minLength]="1" />
  </div>
</app-barra-filtros>

<p-table [value]="pedidos()" [loading]="cargando()" [paginator]="pedidos().length > 25" [rows]="25"
         styleClass="tarjeta overflow-hidden">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="numero">Numero <p-sortIcon field="numero" /></th>
      <th pSortableColumn="fecha">Fecha <p-sortIcon field="fecha" /></th>
      <th pSortableColumn="cuenta.nombre">Cuenta <p-sortIcon field="cuenta.nombre" /></th>
      <th class="text-right" pSortableColumn="total">Total <p-sortIcon field="total" /></th>
      <th></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-pedido>
    <tr>
      <td class="font-medium">{{ pedido.numero }}</td>
      <td>{{ pedido.fecha }}</td>
      <td>{{ pedido.cuenta.nombre }}</td>
      <td class="text-right">$ {{ pedido.total | number:'1.2-2' }}</td>
      <td class="text-right">
        <p-button icon="pi pi-file" label="Ver / Imprimir" severity="secondary" [text]="true" size="small"
                  [routerLink]="['/remitos/cliente', pedido.id]" />
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="5" class="text-center text-gray-500 py-6">No hay remitos en el periodo.</td>
    </tr>
  </ng-template>
</p-table>
